.card {
  margin: 20px auto;
  /* height: 100%; */
  align-items: stretch;
}
.cardcontent {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  min-height: 82px;
  /* min-width: 200px; */
  align-items: stretch;
  /* align-items: flex-start; */
}

button {
  /* align-self: flex-start; */
}
